<!-- Barra de navegación reutilizable -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/images/logo.jpg" alt="Logo" height="30" class="d-inline-block align-text-top me-2">
      Catálogo de Películas
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nota: cambiamos las clases para usar nuestro propio sistema -->
    <div class="navbar-collapse" [ngClass]="{'menu-open': isMenuOpen}">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/movies']" routerLinkActive="active" (click)="closeMenu()">Ver Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/movies/new']" routerLinkActive="active" (click)="closeMenu()">Agregar Película</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
