<!-- Barra de navegación con menú CSS puro -->
<nav class="custom-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/images/logo.jpg" alt="Logo" height="30" class="d-inline-block align-text-top me-2">
      Catálogo de Películas
    </a>
    
    <!-- Checkbox oculto para controlar el menú -->
    <input type="checkbox" id="menu-toggle" class="menu-checkbox">
    <label for="menu-toggle" class="menu-button">
      <span class="menu-icon"></span>
    </label>
    
    <!-- Menú que se muestra/oculta con CSS puro -->
    <div class="menu-container">
      <ul class="menu-items">
        <li class="menu-item">
          <a [routerLink]="['/movies']" routerLinkActive="active">Ver Catálogo</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/movies/new']" routerLinkActive="active">Agregar Película</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
